# Sets

In [6]:
aman = set([1,2,3,4,5])
print(aman)

vivek = set()
print(vivek)

{1, 2, 3, 4, 5}
set()

In [10]:
set1 = {1,2,3,4}
set1.add(5)
print(set1)

# Add single element in a set.

{1, 2, 3, 4, 5}

In [26]:
set1.update([6,7,8,8,9,9])
print(set1)

# Add multiple items in a set.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
set1.remove(9)
print(set1)

# set1.remove(10)
# print(set1)   # it raises eroor because the element is not exists

# Removes a specified element from the set. If the element is not found, it raises a KeyError.

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
set1.discard(10)
print(set1)

# is the element is not present in the set the discard method not throws a keyerror.

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
set2 = {1,2,3,4,5,6}
set2.pop()
print(set2)

set3 = {9,8,7,6,5,4,3,2,1,0}
set3.pop()
print(set3)

# Removes and returns an arbitrary element from the set.

{2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [50]:
set3 = {1,2,3,4,4}
set3.clear()
print(set3)

#Removes all elements from the set, making it empty.

set()

In [60]:
set4 = {1,2,3,4,4,5,6,6,7}
set5 = {7,4,3,2,6,1,2}

set4.union(set5)
set4 | set5

# Returns a new set containing all elements from both sets (the union of the sets). It can also be called using the | operator.

{1, 2, 3, 4, 5, 6, 7}

In [68]:
# set4.intersection(set5)

set6 = set4 & set5
print(set6)
# Returns a new set containing only the elements that are common to both sets (the intersection of the sets). It can also be called using the & operator.

{1, 2, 3, 4, 6, 7}

In [70]:
# set4.difference(set5)

set4 - set5


# Returns a new set containing all the elements that are in the first set but not in the second (the difference). It can also be called using the - operator.

{5}

In [74]:
set7 = {1,2,3,4}
set8 = {4,5,6,7}

# set7.symmetric_difference(set8)
set7 ^ set8

# returns a new set containing all elements that are in either of the sets, but not in both (the symmetric difference). It can also be called using the ^ operator.

{1, 2, 3, 5, 6, 7}

In [80]:
set9 = {1,2,3}
set10 = {1,2,3,4,5}

set9.issubset(set10) # Gives True
set10.issubset(set9) # Gives False

# Checks if all elements of the set are contained in another set. Returns True if the set is a subset of another set, otherwise False.

False

In [82]:
len(set10)

# gives the length of the set that how many items are in that set.

5

In [90]:
set11 = {1,2,4,5}
set12 = set11.copy()

print(set12)

#Returns a shallow copy of the set.

{1, 2, 4, 5}

In [94]:
set13 = {5,6,7}
set14 = {8,9,10}

set13.isdisjoint(set14)

#checks that no elements are common gives true .

True

In [102]:
set15 = {1,2}
set16 = {1,2,3,4,5}

set16.issuperset(set15)
set15.issuperset(set16)

#Checks if the set contains all elements of another set. Returns True if the set is a superset of another set, otherwise False.

False